@import url(./_facebook/footer__social-icon_facebook.css);
@import url(./_instagram/footer__social-icon_instagram.css);
@import url(./_vk/footer__social-icon_vk.css);

.footer__social-icon {
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
