.khan__link-text {
color: black;
opacity: 1;
transition: opacity 2s ease-out;
text-decoration: none;
  
}

.khan__link-text:hover {
    color: #2f80ed;
    opacity: .3;
    transition: opacity 2s ease-out;
 
  }
  
  .khan__link-text::after {
    content: ' \2192';
 
  }
  
  .khan__link-text::after:hover {
    color: #2f80ed;
  }